openapi: '3.1.0'
info:
  title: 'Clenaris API'
  version: '1.0.0'
  description: |-
      REST-Schnittstelle der Clenaris-Plattform für Reinigungsbetriebe.

      ## Umschlag

      Jede JSON-Antwort trägt denselben Umschlag: bei Erfolg `{ "data": … }`,
      bei Listen zusätzlich `{ "meta": { … } }`, im Fehlerfall
      `{ "error": { "code", "message", "details" } }`. Die Meldung ist Deutsch
      und für die Anzeige gedacht; `code` ist die stabile, maschinenlesbare Kennung.

      ## Authentifizierung

      Die Sitzung läuft über zwei httpOnly-Cookies: ein Access-Token (15 Minuten)
      und ein Refresh-Token (30 Tage). Sie sind für JavaScript nicht lesbar —
      ein XSS-Fund erlaubt damit keinen Token-Diebstahl. Läuft der Access-Token
      ab, erneuert `POST /api/auth/refresh` das Paar; die Rotation erkennt die
      Wiederverwendung eines verbrauchten Tokens und verwirft dann die ganze
      Familie.

      ## Berechtigungen

      Autorisiert wird über flache `resource:action`-Berechtigungen, die pro Rolle
      (ADMIN, MANAGER, EMPLOYEE, CUSTOMER) statisch aufgelöst werden. Zusätzlich
      gilt immer Eigentümerschaft: `booking:read_own` liest ausschliesslich die
      eigenen Buchungen, und die Einschränkung greift in der Datenbankabfrage,
      nicht in der Darstellung.

      ## Rate-Limits

      Feste Zeitfenster auf Redis, mit Rückfall auf einen prozesslokalen Speicher.
      Der Schlüssel ist die Benutzer-ID bei angemeldeten und die IP-Adresse bei
      öffentlichen Endpunkten. Bei Überschreitung antwortet die API mit 429 und
      einem `Retry-After`-Header.

      ## Geld und Zeit

      Beträge sind Dezimalzahlen in Schweizer Franken mit zwei Nachkommastellen;
      sie werden ausschliesslich serverseitig berechnet. Zeitstempel sind
      ISO-8601 in UTC; die Anzeige erfolgt in Europe/Zurich.
  contact:
    name: 'Clenaris'
    url: 'https://clenaris.ch'
  license:
    name: 'Proprietär'
    identifier: 'LicenseRef-Proprietary'
servers:
  - url: 'https://clenaris.qasemi.ch'
    description: 'Produktion'
  - url: 'http://localhost:3000'
    description: 'Lokale Entwicklung'
tags:
  - name: 'Authentifizierung'
    description: 'Anmeldung, Sitzungen, Passwörter, Profil'
  - name: 'Öffentlich'
    description: 'Endpunkte der Website — ohne Anmeldung erreichbar'
  - name: 'CRM'
    description: 'Anfragen, Kundschaft, Verlauf, Aufgaben'
  - name: 'Nachrichten'
    description: 'Nachrichtenverläufe und Benachrichtigungen'
  - name: 'Buchungen'
    description: 'Termine bestätigen, verschieben, absagen'
  - name: 'Offerten'
    description: 'Erstellen, versenden, annehmen, überführen'
  - name: 'Einsätze'
    description: 'Disposition, Durchführung, Zeiterfassung'
  - name: 'Personal'
    description: 'Mitarbeitende, Abwesenheiten, Bewerbungen'
  - name: 'Finanzen'
    description: 'Rechnungen, Zahlungen, Gutschriften, Ausgaben'
  - name: 'Exporte'
    description: 'Buchhaltung und Auswertungen als CSV bzw. Excel'
  - name: 'Inhalte'
    description: 'Blog und Bewertungen'
  - name: 'Künstliche Intelligenz'
    description: 'Entwürfe und Vorschläge — nie Ausführung'
  - name: 'Dateien'
    description: 'Signierte Uploads zu Supabase Storage'
  - name: 'System'
    description: 'Scheduler und Webhooks'
paths:
  '/api/auth/login':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Anmelden'
      description: |-
          Prüft E-Mail und Passwort und setzt Access- und Refresh-Token als httpOnly-Cookies. Die Antwort enthält keine Token — sie stehen ausschliesslich in den Cookies, damit JavaScript im Browser sie nicht auslesen kann.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `login`
      operationId: 'postAuthLogin'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                password:
                  type: 'string'
                  minLength: 1
                rememberMe:
                  type: 'boolean'
                  default: false
              required:
                - 'email'
                - 'password'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/register':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Kundenkonto eröffnen'
      description: |-
          Legt Benutzerkonto und Kundendatensatz an und meldet direkt an. Die Rolle ist immer CUSTOMER; Mitarbeitendenkonten entstehen ausschliesslich über eine Einladung.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `register`
      operationId: 'postAuthRegister'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                firstName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                lastName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                phone:
                  anyOf:
                    - type: 'string'
                      pattern: '^(\+|00)?[0-9\s().-]{9,20}$'
                    - const: ''
                password:
                  type: 'string'
                  minLength: 10
                  maxLength: 128
                  pattern: '[0-9]'
                confirmPassword:
                  type: 'string'
                locale:
                  type: 'string'
                  enum:
                    - 'DE'
                    - 'EN'
                    - 'FR'
                    - 'IT'
                  default: 'DE'
                acceptTerms:
                  const: true
                marketingOptIn:
                  type: 'boolean'
                  default: false
                website:
                  anyOf:
                    - type: 'string'
                      maxLength: 0
                    - const: ''
              required:
                - 'firstName'
                - 'lastName'
                - 'email'
                - 'password'
                - 'confirmPassword'
                - 'acceptTerms'
                - 'website'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/logout':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Abmelden'
      description: |-
          Widerruft den Refresh-Token in der Datenbank und löscht beide Cookies. Ein blosses Löschen im Browser würde einen gestohlenen Token weiterleben lassen.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.
      operationId: 'postAuthLogout'
      security: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/refresh':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Sitzung erneuern'
      description: |-
          Tauscht den Refresh-Token gegen ein neues Paar. Rotation mit Wiederverwendungs-erkennung: Wird ein bereits verbrauchter Token erneut vorgelegt, gilt die ganze Token-Familie als kompromittiert und wird verworfen.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'postAuthRefresh'
      security: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
    get:
      tags:
        - 'Authentifizierung'
      summary: 'Sitzung erneuern und weiterleiten'
      description: |-
          Der Weg für Seitenaufrufe mit abgelaufenem Zugangstoken: Die Middleware schickt den Browser hierher, die Route rotiert den Refresh-Token, setzt die Cookies und leitet mit 303 an `weiter` zurück. Scheitert die Erneuerung — auch nach 15 Minuten ohne Aktivität —, geht es zur Anmeldung mit demselben Rücksprungziel.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'getAuthRefresh'
      security: []
      parameters:
        - name: 'weiter'
          in: 'query'
          required: false
          schema:
            type: 'string'
            maxLength: 512
      responses:
        '200':
          description: 'Datei'
          content:
            'text/html':
              schema:
                type: 'string'
                format: 'binary'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/session':
    get:
      tags:
        - 'Authentifizierung'
      summary: 'Sitzungsstatus'
      description: |-
          Beantwortet „bin ich angemeldet, und wohin gehöre ich?". Existiert, damit die öffentliche Website die Sitzung nicht im Layout lesen muss — ein Cookie-Zugriff dort würde jede Marketingseite dynamisch machen und jeden Besuch zu einer Datenbankabfrage. Die Antwort ist absichtlich mager und wird nicht zwischengespeichert.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.
      operationId: 'getAuthSession'
      security: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/password':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Passwort zurücksetzen oder Einladung annehmen'
      description: |-
          Ein Endpunkt für drei Vorgänge, unterschieden über `action`. `forgot` und `reset` antworten immer erfolgreich — die Antwort darf nicht verraten, ob eine Adresse registriert ist.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `passwordReset`
      operationId: 'postAuthPassword'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                action:
                  type: 'string'
                  enum:
                    - 'forgot'
                    - 'reset'
                    - 'invite'
                email:
                  type: 'string'
                token:
                  type: 'string'
                password:
                  type: 'string'
                confirmPassword:
                  type: 'string'
                website:
                  type: 'string'
              required:
                - 'action'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
    patch:
      tags:
        - 'Authentifizierung'
      summary: 'Passwort ändern'
      description: |-
          Ändert das eigene Passwort. Verlangt das bisherige und widerruft anschliessend alle übrigen Sitzungen — wer sein Passwort ändert, will fremde Geräte ausgesperrt wissen.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'patchAuthPassword'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                currentPassword:
                  type: 'string'
                  minLength: 1
                password:
                  type: 'string'
                  minLength: 10
                  maxLength: 128
                  pattern: '[0-9]'
                confirmPassword:
                  type: 'string'
              required:
                - 'currentPassword'
                - 'password'
                - 'confirmPassword'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/account/profile':
    patch:
      tags:
        - 'Authentifizierung'
      summary: 'Eigene Stammdaten ändern'
      description: |-
          Name, Telefon, Sprache, Erscheinungsbild und Benachrichtigungseinstellungen. Die E-Mail-Adresse ist bewusst nicht dabei: ein Wechsel muss über einen Bestätigungslink an die neue Adresse laufen.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'patchAccountProfile'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                firstName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                lastName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                phone:
                  anyOf:
                    - type: 'string'
                      pattern: '^(\+|00)?[0-9\s().-]{9,20}$'
                    - const: ''
                locale:
                  type: 'string'
                  enum:
                    - 'DE'
                    - 'EN'
                    - 'FR'
                    - 'IT'
                  default: 'DE'
                avatarUrl:
                  anyOf:
                    - type: 'string'
                      maxLength: 2000
                    - const: ''
                theme:
                  type: 'string'
                  enum:
                    - 'system'
                    - 'light'
                    - 'dark'
                notifyByEmail:
                  type: 'boolean'
                notifyBySms:
                  type: 'boolean'
                marketingOptIn:
                  type: 'boolean'
              required:
                - 'firstName'
                - 'lastName'
                - 'avatarUrl'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/2fa':
    get:
      tags:
        - 'Authentifizierung'
      summary: 'Zustand des zweiten Faktors'
      description: |-
          Ob die Zwei-Faktor-Anmeldung eingeschaltet ist, seit wann, und wie viele Wiederherstellungscodes noch übrig sind. Weder Geheimnis noch Codes werden je zurückgegeben — die Codes existieren nach der Einrichtung nur noch als Hash.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getAuth2fa'
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/2fa/setup':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Einrichtung beginnen'
      description: |-
          Erzeugt ein TOTP-Geheimnis und liefert es als QR-Code und als Text zum Abtippen. Der Schutz wird dabei **nicht** eingeschaltet: erst der bestätigte Code unter `/api/auth/2fa/confirm` stellt ihn scharf. Ohne diesen zweiten Schritt sperrt sich aus, wer den QR-Code scannt und dann das Telefon zurücksetzt. Ein bereits eingeschalteter Faktor wird nicht überschrieben.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'postAuth2faSetup'
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/2fa/confirm':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Einrichtung bestätigen'
      description: |-
          Prüft den ersten Code und schaltet die Zwei-Faktor-Anmeldung ein. Die Antwort enthält die zehn Wiederherstellungscodes — **einmalig**. Danach existieren sie nur noch als Hash; wer sie nicht notiert, braucht die Systemverantwortung.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `login`
      operationId: 'postAuth2faConfirm'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                token:
                  type: 'string'
                  pattern: '^\d{6}$'
              required:
                - 'token'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/2fa/disable':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Zweiten Faktor ausschalten'
      description: |-
          Verlangt Passwort **und** einen gültigen Code — ein Wiederherstellungscode zählt ebenfalls. Nur das Passwort würde genügen, wenn jemand eine offene Sitzung übernimmt, und dann wäre der zweite Faktor genau in dem Moment weg, in dem er gebraucht wird.

          **Zugriff:** Erfordert eine angemeldete Sitzung.

          **Rate-Limit-Klasse:** `login`
      operationId: 'postAuth2faDisable'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                token:
                  type: 'string'
                  minLength: 6
                  maxLength: 20
                password:
                  type: 'string'
                  minLength: 1
              required:
                - 'token'
                - 'password'
      responses:
        '204':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/auth/2fa/verify':
    post:
      tags:
        - 'Authentifizierung'
      summary: 'Zweiter Schritt der Anmeldung'
      description: |-
          Öffentlich, weil hier noch keine Sitzung besteht: Der Aufrufer weist sich über den kurzlebigen Zwischenschein aus, den `/api/auth/login` gesetzt hat. Dieser Endpunkt erzeugt das Zugangstoken. Sechs Ziffern sind eine Million Möglichkeiten — ohne das Anmelde-Limit wären sie in Minuten durchprobiert.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `login`
      operationId: 'postAuth2faVerify'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                token:
                  type: 'string'
                  minLength: 6
                  maxLength: 20
              required:
                - 'token'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/users/{id}/2fa':
    delete:
      tags:
        - 'Benutzer & Rollen'
      summary: 'Zweiten Faktor eines Kontos zurücksetzen'
      description: |-
          Der Notausgang, wenn jemand Telefon *und* Wiederherstellungscodes verloren hat. Nur die Systemverantwortung darf das — es ist die einzige Handlung, die einen Schutz von aussen entfernt. Alle Sitzungen der Person werden dabei beendet: Ist das Konto tatsächlich übernommen worden, endet der Zugriff in diesem Moment.

          **Zugriff:** Erfordert die Berechtigungen: `user:update`, `role:assign`.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'deleteUsersById2fa'
      security:
        - sessionCookie: []
      parameters:
        - name: 'id'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 1
      responses:
        '204':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '403':
          description: 'FORBIDDEN — angemeldet, aber ohne die nötige Berechtigung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/users/{id}/password-reset':
    post:
      tags:
        - 'Benutzer & Rollen'
      summary: 'Zugangslink versenden'
      description: |-
          Für ein eingeladenes, nie aktiviertes Konto eine neue Einladung; für ein aktives Konto der Link zum Setzen eines neuen Passworts. Die Verwaltung setzt nie selbst ein Passwort. Gesperrte und deaktivierte Konten erhalten keinen Link (422).

          **Zugriff:** Erfordert die Berechtigung: `user:update`.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'postUsersByIdPasswordReset'
      security:
        - sessionCookie: []
      parameters:
        - name: 'id'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 1
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '401':
          description: 'UNAUTHORIZED — keine oder abgelaufene Sitzung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '403':
          description: 'FORBIDDEN — angemeldet, aber ohne die nötige Berechtigung.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/pricing/estimate':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Preis berechnen'
      description: |-
          Sofortpreis ohne Anmeldung. Die Berechnung läuft vollständig auf dem Server; die Antwort enthält die vollständige Herleitung, damit die Website jeden Posten benennen kann.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `priceEstimate`
      operationId: 'postPublicPricingEstimate'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                leistungen:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      serviceId:
                        type: 'string'
                        minLength: 1
                      squareMeters:
                        type: 'integer'
                        minimum: 5
                        maximum: 5000
                      rooms:
                        type: 'number'
                        minimum: 0.5
                        maximum: 40
                      bathrooms:
                        type: 'integer'
                        minimum: 0
                        maximum: 20
                      windows:
                        type: 'integer'
                        minimum: 0
                        maximum: 500
                      manualHours:
                        type: 'number'
                        minimum: 0.5
                        maximum: 80
                      extras:
                        type: 'array'
                        items:
                          type: 'object'
                          properties:
                            extraId:
                              type: 'string'
                              minLength: 1
                            quantity:
                              type: 'integer'
                              minimum: 1
                              maximum: 50
                              default: 1
                          required:
                            - 'extraId'
                        maxItems: 20
                        default: []
                    required:
                      - 'serviceId'
                  minItems: 1
                  maxItems: 5
                squareMeters:
                  type: 'integer'
                  minimum: 5
                  maximum: 5000
                rooms:
                  type: 'number'
                  minimum: 0.5
                  maximum: 40
                bathrooms:
                  type: 'integer'
                  minimum: 0
                  maximum: 20
                windows:
                  type: 'integer'
                  minimum: 0
                  maximum: 500
                propertyKind:
                  type: 'string'
                  enum:
                    - 'APARTMENT'
                    - 'HOUSE'
                    - 'OFFICE'
                    - 'COMMERCIAL'
                    - 'INDUSTRIAL'
                    - 'CONSTRUCTION_SITE'
                    - 'PRACTICE'
                    - 'RESTAURANT'
                    - 'SCHOOL'
                    - 'OTHER'
                  default: 'APARTMENT'
                frequency:
                  type: 'string'
                  enum:
                    - 'ONCE'
                    - 'WEEKLY'
                    - 'BIWEEKLY'
                    - 'MONTHLY'
                    - 'QUARTERLY'
                    - 'SEMIANNUAL'
                    - 'ANNUAL'
                    - 'CUSTOM'
                  default: 'ONCE'
                extras:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      extraId:
                        type: 'string'
                        minLength: 1
                      quantity:
                        type: 'integer'
                        minimum: 1
                        maximum: 50
                        default: 1
                    required:
                      - 'extraId'
                  maxItems: 20
                  default: []
                scheduledStart:
                  anyOf:
                    - type: 'string'
                      format: 'date-time'
                    - type: 'string'
                      pattern: '^\d{4}-\d{2}-\d{2}$'
                postalCode:
                  type: 'string'
                  pattern: '^[1-9]\d{3}$'
                hasPets:
                  type: 'boolean'
                  default: false
                manualHours:
                  type: 'number'
                  minimum: 0.5
                  maximum: 80
                couponCode:
                  type: 'string'
                  maxLength: 40
                urgent:
                  type: 'boolean'
                  default: false
                serviceId:
                  type: 'string'
                  minLength: 1
                serviceSlug:
                  type: 'string'
                  minLength: 1
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/health':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Betriebsbereitschaft'
      description: |-
          Für Auslieferung, Überwachung und Load Balancer. Prüft die Datenbankverbindung und meldet die Zahl der angewandten Migrationen, den ausgelieferten Stand und die Laufzeit. Antwortet mit 503, wenn die Datenbank nicht erreichbar ist — die Aussage steht im Statuscode, nicht im Rumpf.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getHealth'
      security: []
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '503':
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/availability':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Freie Zeitfenster eines Tages (eine Leistung)'
      description: |-
          Berücksichtigt Einsatzzeiten (sonst Öffnungszeiten), Feiertage, bestehende Einsätze und unbestätigte Buchungen, Arbeitszeiten und Abwesenheiten sowie die benötigte Teamgrösse. Ohne `durationMin` rechnet der Server die Dauer mit derselben Funktion wie den Preis. Ein Fenster erscheint nur, wenn der ganze Einsatz ins Einsatzfenster passt.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getPublicAvailability'
      security: []
      parameters:
        - name: 'serviceId'
          in: 'query'
          required: true
          schema:
            type: 'string'
            minLength: 1
        - name: 'date'
          in: 'query'
          required: true
          schema:
            type: 'string'
            pattern: '^\d{4}-\d{2}-\d{2}$'
        - name: 'durationMin'
          in: 'query'
          required: false
          schema:
            type: 'integer'
            minimum: 30
            maximum: 1440
        - name: 'crewSize'
          in: 'query'
          required: false
          schema:
            type: 'integer'
            minimum: 1
            maximum: 20
        - name: 'squareMeters'
          in: 'query'
          required: false
          schema:
            type: 'integer'
            minimum: 5
            maximum: 5000
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
    post:
      tags:
        - 'Öffentlich'
      summary: 'Kalender für eine Auswahl aus einer oder mehreren Leistungen'
      description: |-
          Nimmt die gewählten Leistungen samt Angaben, nicht eine Dauer: Dauer (Summe, nacheinander vom selben Team), Teamgrösse und Puffer rechnet der Server. Liefert je Tag, ob er ein buchbares Zeitfenster hat, und die Zeitfenster. Vorlauf und Horizont aus den Einstellungen (`bookingMinNoticeHours`, `bookingLeadDays`).

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'postPublicAvailability'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                leistungen:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      serviceId:
                        type: 'string'
                        minLength: 1
                      squareMeters:
                        type: 'integer'
                        minimum: 5
                        maximum: 5000
                      rooms:
                        type: 'number'
                        minimum: 0.5
                        maximum: 40
                      bathrooms:
                        type: 'integer'
                        minimum: 0
                        maximum: 20
                      windows:
                        type: 'integer'
                        minimum: 0
                        maximum: 500
                      manualHours:
                        type: 'number'
                        minimum: 0.5
                        maximum: 80
                      extras:
                        type: 'array'
                        items:
                          type: 'object'
                          properties:
                            extraId:
                              type: 'string'
                              minLength: 1
                            quantity:
                              type: 'integer'
                              minimum: 1
                              maximum: 50
                              default: 1
                          required:
                            - 'extraId'
                        maxItems: 20
                        default: []
                    required:
                      - 'serviceId'
                  minItems: 1
                  maxItems: 5
                hasPets:
                  type: 'boolean'
                  default: false
                von:
                  type: 'string'
                  pattern: '^\d{4}-\d{2}-\d{2}$'
                tage:
                  type: 'integer'
                  minimum: 1
                  maximum: 42
                  default: 21
              required:
                - 'leistungen'
                - 'von'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/service-areas/check':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Postleitzahl im Einsatzgebiet?'
      description: |-
          Antwortet mit Ort, Anfahrtspauschale und Fahrzeit — oder mit der Auskunft, dass wir dort (noch) nicht arbeiten.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getPublicServiceAreasCheck'
      security: []
      parameters:
        - name: 'postalCode'
          in: 'query'
          required: true
          schema:
            type: 'string'
            pattern: '^[1-9]\d{3}$'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/bookings':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Termin buchen'
      description: |-
          Erstellt Buchung, Einsatz und — falls nötig — Kundendatensatz in einer Transaktion. Der Preis wird serverseitig neu berechnet; ein mitgeschickter Betrag wird ignoriert.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `bookingCreate`
      operationId: 'postPublicBookings'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                serviceId:
                  type: 'string'
                  minLength: 1
                leistungen:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      serviceId:
                        type: 'string'
                        minLength: 1
                      squareMeters:
                        type: 'integer'
                        minimum: 5
                        maximum: 5000
                      rooms:
                        type: 'number'
                        minimum: 0.5
                        maximum: 40
                      bathrooms:
                        type: 'integer'
                        minimum: 0
                        maximum: 20
                      windows:
                        type: 'integer'
                        minimum: 0
                        maximum: 500
                      manualHours:
                        type: 'number'
                        minimum: 0.5
                        maximum: 80
                      extras:
                        type: 'array'
                        items:
                          type: 'object'
                          properties:
                            extraId:
                              type: 'string'
                              minLength: 1
                            quantity:
                              type: 'integer'
                              minimum: 1
                              maximum: 50
                              default: 1
                          required:
                            - 'extraId'
                        maxItems: 20
                        default: []
                    required:
                      - 'serviceId'
                  minItems: 1
                  maxItems: 5
                extras:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      extraId:
                        type: 'string'
                        minLength: 1
                      quantity:
                        type: 'integer'
                        minimum: 1
                        maximum: 50
                        default: 1
                    required:
                      - 'extraId'
                  maxItems: 20
                  default: []
                frequency:
                  type: 'string'
                  enum:
                    - 'ONCE'
                    - 'WEEKLY'
                    - 'BIWEEKLY'
                    - 'MONTHLY'
                    - 'QUARTERLY'
                    - 'SEMIANNUAL'
                    - 'ANNUAL'
                    - 'CUSTOM'
                  default: 'ONCE'
                scheduledStart:
                  anyOf:
                    - type: 'string'
                      format: 'date-time'
                    - type: 'string'
                      pattern: '^\d{4}-\d{2}-\d{2}$'
                manualHours:
                  type: 'number'
                  minimum: 0.5
                  maximum: 80
                urgent:
                  type: 'boolean'
                  default: false
                propertyKind:
                  type: 'string'
                  enum:
                    - 'APARTMENT'
                    - 'HOUSE'
                    - 'OFFICE'
                    - 'COMMERCIAL'
                    - 'INDUSTRIAL'
                    - 'CONSTRUCTION_SITE'
                    - 'PRACTICE'
                    - 'RESTAURANT'
                    - 'SCHOOL'
                    - 'OTHER'
                  default: 'APARTMENT'
                squareMeters:
                  type: 'integer'
                  minimum: 5
                  maximum: 5000
                rooms:
                  type: 'number'
                  minimum: 0.5
                  maximum: 40
                bathrooms:
                  type: 'integer'
                  minimum: 0
                  maximum: 20
                windows:
                  type: 'integer'
                  minimum: 0
                  maximum: 500
                hasPets:
                  type: 'boolean'
                  default: false
                propertyId:
                  type: 'string'
                  minLength: 1
                firstName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                lastName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                phone:
                  type: 'string'
                  pattern: '^(\+|00)?[0-9\s().-]{9,20}$'
                companyName:
                  type: 'string'
                  maxLength: 120
                addressId:
                  type: 'string'
                  minLength: 1
                address:
                  type: 'object'
                  properties:
                    label:
                      type: 'string'
                      maxLength: 60
                    street:
                      type: 'string'
                      minLength: 2
                      maxLength: 120
                    streetNo:
                      type: 'string'
                      maxLength: 20
                    addition:
                      type: 'string'
                      maxLength: 120
                    postalCode:
                      type: 'string'
                      pattern: '^[1-9]\d{3}$'
                    city:
                      type: 'string'
                      minLength: 2
                      maxLength: 80
                    canton:
                      type: 'string'
                      default: 'BE'
                    country:
                      type: 'string'
                      default: 'CH'
                    lat:
                      type: 'number'
                      minimum: -90
                      maximum: 90
                    lng:
                      type: 'number'
                      minimum: -180
                      maximum: 180
                    placeId:
                      type: 'string'
                      maxLength: 200
                    accessNote:
                      type: 'string'
                      maxLength: 500
                  required:
                    - 'street'
                    - 'postalCode'
                    - 'city'
                customerNote:
                  type: 'string'
                  maxLength: 2000
                accessNote:
                  type: 'string'
                  maxLength: 500
                couponCode:
                  type: 'string'
                  maxLength: 40
                fileIds:
                  type: 'array'
                  items:
                    type: 'string'
                    minLength: 1
                  maxItems: 10
                  default: []
                recurrence:
                  type: 'object'
                  properties:
                    interval:
                      type: 'integer'
                      minimum: 1
                      maximum: 12
                      default: 1
                    weekdays:
                      type: 'array'
                      items:
                        type: 'integer'
                        minimum: 0
                        maximum: 6
                      maxItems: 7
                      default: []
                    endDate:
                      anyOf:
                        - type: 'string'
                          format: 'date-time'
                        - type: 'string'
                          pattern: '^\d{4}-\d{2}-\d{2}$'
                    count:
                      type: 'integer'
                      minimum: 2
                      maximum: 104
                acceptTerms:
                  const: true
                website:
                  anyOf:
                    - type: 'string'
                      maxLength: 0
                    - const: ''
              required:
                - 'scheduledStart'
                - 'acceptTerms'
                - 'website'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/contact':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Kontakt- oder Offertanfrage'
      description: |-
          Legt einen Lead an und benachrichtigt das Büro. Statt eines CAPTCHAs schützen ein Honeypot-Feld und ein striktes Rate-Limit — beides ohne Hürde für die Anfragenden.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `contactForm`
      operationId: 'postPublicContact'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                firstName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                lastName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                phone:
                  anyOf:
                    - type: 'string'
                      pattern: '^(\+|00)?[0-9\s().-]{9,20}$'
                    - const: ''
                company:
                  type: 'string'
                  maxLength: 120
                postalCode:
                  type: 'string'
                  pattern: '^[1-9]\d{3}$'
                city:
                  type: 'string'
                  maxLength: 80
                serviceKind:
                  type: 'string'
                  enum:
                    - 'OFFICE_CLEANING'
                    - 'MOVE_OUT_CLEANING'
                    - 'RESIDENTIAL_CLEANING'
                    - 'WINDOW_CLEANING'
                    - 'CONSTRUCTION_CLEANING'
                    - 'BUILDING_MAINTENANCE'
                    - 'SPECIAL'
                message:
                  type: 'string'
                  minLength: 10
                  maxLength: 4000
                acceptPrivacy:
                  const: true
                utmSource:
                  type: 'string'
                  maxLength: 80
                utmMedium:
                  type: 'string'
                  maxLength: 80
                utmCampaign:
                  type: 'string'
                  maxLength: 120
                referrerUrl:
                  type: 'string'
                  maxLength: 500
                landingPath:
                  type: 'string'
                  maxLength: 300
                website:
                  anyOf:
                    - type: 'string'
                      maxLength: 0
                    - const: ''
              required:
                - 'firstName'
                - 'lastName'
                - 'email'
                - 'message'
                - 'acceptPrivacy'
                - 'website'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/newsletter':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Newsletter abonnieren'
      description: |-
          Double-Opt-in: die Anmeldung gilt erst mit Bestätigung des Links in der E-Mail. Die Einwilligung wird mit Zeitpunkt und IP protokolliert (DSGVO Art. 7 Abs. 1).

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `newsletter`
      operationId: 'postPublicNewsletter'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                firstName:
                  type: 'string'
                  maxLength: 80
                locale:
                  type: 'string'
                  enum:
                    - 'DE'
                    - 'EN'
                    - 'FR'
                    - 'IT'
                  default: 'DE'
                source:
                  type: 'string'
                  maxLength: 80
                website:
                  anyOf:
                    - type: 'string'
                      maxLength: 0
                    - const: ''
              required:
                - 'email'
                - 'website'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/applications':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Auf eine Stelle bewerben'
      description: |-
          Der Lebenslauf wird vorab direkt zu Supabase Storage geladen; hier kommt nur seine Adresse an.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `contactForm`
      operationId: 'postPublicApplications'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                postingId:
                  type: 'string'
                  minLength: 1
                firstName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                lastName:
                  type: 'string'
                  minLength: 2
                  maxLength: 80
                email:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                  format: 'email'
                phone:
                  type: 'string'
                  pattern: '^(\+|00)?[0-9\s().-]{9,20}$'
                message:
                  type: 'string'
                  maxLength: 4000
                cvFileId:
                  type: 'string'
                  minLength: 1
                availableFrom:
                  type: 'string'
                  pattern: '^\d{4}-\d{2}-\d{2}$'
                acceptPrivacy:
                  const: true
                website:
                  anyOf:
                    - type: 'string'
                      maxLength: 0
                    - const: ''
              required:
                - 'postingId'
                - 'firstName'
                - 'lastName'
                - 'email'
                - 'phone'
                - 'acceptPrivacy'
                - 'website'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/ai/chat':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Chat-Assistent'
      description: |-
          Beantwortet Fragen zu Leistungen, Preisen und Gebiet. Die Antwort wird als Server-Sent-Events gestreamt. Der Assistent nennt nur Preise aus dem Katalog und bucht nichts — gebucht wird über das Formular.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `aiChat`
      operationId: 'postPublicAiChat'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                message:
                  type: 'string'
                  minLength: 1
                  maxLength: 500
                history:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      role:
                        type: 'string'
                        enum:
                          - 'user'
                          - 'assistant'
                      content:
                        type: 'string'
                        maxLength: 4000
                    required:
                      - 'role'
                      - 'content'
                  maxItems: 8
                  default: []
              required:
                - 'message'
      responses:
        '200':
          description: 'Datei'
          content:
            'text/event-stream':
              schema:
                type: 'string'
                format: 'binary'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/quotes/{token}/pdf':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Offerte als PDF'
      description: |-
          Zugriff über den Magic-Link-Token aus der Offerten-E-Mail, ohne Anmeldung.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getPublicQuotesByTokenPdf'
      security: []
      parameters:
        - name: 'token'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 10
      responses:
        '200':
          description: 'PDF-Dokument'
          content:
            'application/pdf':
              schema:
                type: 'string'
                format: 'binary'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/bookings/{token}/pdf':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Buchungsbestätigung als PDF'
      description: |-
          Zugriff über den Verwaltungslink aus der Buchungs-E-Mail, ohne Anmeldung. Wird bei jedem Abruf frisch gerendert, damit der Status (eingegangen, bestätigt, storniert) stimmt.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getPublicBookingsByTokenPdf'
      security: []
      parameters:
        - name: 'token'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 10
      responses:
        '200':
          description: 'PDF-Dokument'
          content:
            'application/pdf':
              schema:
                type: 'string'
                format: 'binary'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/quotes/{token}/respond':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Offerte annehmen oder ablehnen'
      description: |-
          `REJECT` entscheidet sofort und endgültig. `ACCEPT` entscheidet nicht selbst (Gate 4C): Es legt den Unterzeichnungsvorgang an — unveränderlicher Snapshot der Offerte, SHA-256 (Hash A) — und antwortet mit `requiresSignature: true` und `signatureUrl` (`/signieren#t=…`, Token nur im Fragment). Erst der Abschluss des Vorgangs (Zustimmung, gezeichnete oder getippte Unterschrift, Protokoll) setzt die Offerte auf ACCEPTED. Ein bereits begonnener Vorgang wird fortgesetzt, nicht verdoppelt. Gezählt je Link (`publicTokenAction`).

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `publicTokenAction`
      operationId: 'postPublicQuotesByTokenRespond'
      security: []
      parameters:
        - name: 'token'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 10
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                decision:
                  type: 'string'
                  enum:
                    - 'ACCEPT'
                    - 'REJECT'
                reason:
                  type: 'string'
                  maxLength: 1000
              required:
                - 'decision'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/invoices/{token}/pdf':
    get:
      tags:
        - 'Öffentlich'
      summary: 'Rechnung als PDF'
      description: |-
          Enthält den Schweizer QR-Einzahlungsschein nach SIX-Norm v2.3.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiRead`
      operationId: 'getPublicInvoicesByTokenPdf'
      security: []
      parameters:
        - name: 'token'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 10
      responses:
        '200':
          description: 'PDF-Dokument'
          content:
            'application/pdf':
              schema:
                type: 'string'
                format: 'binary'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/invoices/{token}/pay':
    post:
      tags:
        - 'Öffentlich'
      summary: 'Online-Zahlung starten'
      description: |-
          Erstellt eine Stripe-Checkout-Session für Karte oder TWINT und liefert die Adresse zur Weiterleitung. Der Betrag stammt aus der Datenbank, nie vom Client. Gebucht wird der Eingang über den Webhook, nicht über die Rückkehr-URL.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `apiWrite`
      operationId: 'postPublicInvoicesByTokenPay'
      security: []
      parameters:
        - name: 'token'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 10
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                method:
                  type: 'string'
                  enum:
                    - 'CARD'
                    - 'TWINT'
                  default: 'CARD'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/files/upload-url':
    post:
      tags:
        - 'Dateien'
      summary: 'Signierte Upload-Adresse anfordern'
      description: |-
          Dateien laufen nicht durch die Applikation, sondern direkt zu Supabase Storage. Das umgeht das 4.5-MB-Limit für Function-Bodies. Ohne Anmeldung sind nur die Profile `bookingPhoto` und `cv` erlaubt.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `fileUpload`
      operationId: 'postFilesUploadUrl'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                profile:
                  type: 'string'
                  enum:
                    - 'jobPhoto'
                    - 'bookingPhoto'
                    - 'avatar'
                    - 'document'
                    - 'receipt'
                    - 'cv'
                    - 'gallery'
                    - 'invoice'
                    - 'quote'
                filename:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
                mimeType:
                  type: 'string'
                  minLength: 3
                  maxLength: 120
                sizeBytes:
                  type: 'integer'
                  minimum: 1
                  maximum: 1073741824
                scopeId:
                  type: 'string'
                  maxLength: 60
              required:
                - 'profile'
                - 'filename'
                - 'mimeType'
                - 'sizeBytes'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/files/finalize':
    post:
      tags:
        - 'Dateien'
      summary: 'Upload abschliessen und prüfen'
      description: |-
          Erst dieser Aufruf macht aus abgelegten Bytes eine Datei, mit der die Anwendung arbeitet. Der Server liest das gespeicherte Objekt zurück, prüft die tatsächliche Grösse, die Signatur der ersten Bytes und den angemeldeten Typ gegen das Upload-Profil des Tickets, bildet den SHA-256 und legt danach das FileAsset an. Ohne diesen Schritt trägt die Ablage keine Prüfsumme und lässt sich weder abrufen noch verknüpfen. Wiederholbar: Ein zweiter Aufruf liefert dasselbe Asset, nicht ein zweites.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `fileTransfer`
      operationId: 'postFilesFinalize'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                ticketId:
                  type: 'string'
                  minLength: 1
                  maxLength: 60
                filename:
                  type: 'string'
                  minLength: 1
                  maxLength: 255
              required:
                - 'ticketId'
                - 'filename'
      responses:
        '201':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '409':
          description: 'CONFLICT — verstösst gegen eine Eindeutigkeitsregel.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/signatures/exchange':
    post:
      tags:
        - 'Unterzeichnung'
      summary: 'Zugangstoken gegen Sitzung tauschen'
      description: |-
          Der einzige Aufruf, der den rohen Token trägt — im Körper, nie im Pfad oder in der Abfrage, damit er in keinem Zugriffsprotokoll steht. Die Seite `/signieren` liest ihn aus dem URL-Fragment, entfernt ihn aus der Adresse und ruft hierher. Antwort: die nicht geheime Kennung des Vorgangs und der Bereich (`sign` oder `result`); die Sitzung liegt im Cookie `clenaris_sig` (HttpOnly, 60 Minuten). Unbekannte, abgelaufene und widerrufene Tokens antworten gleich (404).

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `signatureExchange`
      operationId: 'postPublicSignaturesExchange'
      security: []
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: 'object'
              properties:
                token:
                  type: 'string'
                  pattern: '^[0-9a-f]{64}$'
              required:
                - 'token'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '422':
          description: 'BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '429':
          description: 'RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '500':
          description: 'INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
  '/api/public/signatures/{publicId}':
    get:
      tags:
        - 'Unterzeichnung'
      summary: 'Stand des Vorgangs für die unterzeichnende Person'
      description: |-
          Titel, Modus, Prüfstufe, Ablauf, Zustimmungstext (serverseitig, versioniert) und der eigene Stand. E-Mail und Mobilnummer nur verschleiert. Ohne gültige Sitzung 404.

          **Zugriff:** Öffentlich — keine Anmeldung nötig.

          **Rate-Limit-Klasse:** `publicTokenRead`
      operationId: 'getPublicSignaturesByPublicId'
      security: []
      parameters:
        - name: 'publicId'
          in: 'path'
          required: true
          schema:
            type: 'string'
            pattern: '^[0-9a-f]{32}$'
      responses:
        '200':
          description: 'Erfolg'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/SuccessEnvelope'
        '400':
          description: 'VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorEnvelope'
        '404':
          description: 'NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.'
          content:
[...]
