{
  "openapi": "3.1.0",
  "info": {
    "title": "Clenaris API",
    "version": "1.0.0",
    "description": "REST-Schnittstelle der Clenaris-Plattform für Reinigungsbetriebe.\n\n## Umschlag\n\nJede JSON-Antwort trägt denselben Umschlag: bei Erfolg `{ \"data\": … }`,\nbei Listen zusätzlich `{ \"meta\": { … } }`, im Fehlerfall\n`{ \"error\": { \"code\", \"message\", \"details\" } }`. Die Meldung ist Deutsch\nund für die Anzeige gedacht; `code` ist die stabile, maschinenlesbare Kennung.\n\n## Authentifizierung\n\nDie Sitzung läuft über zwei httpOnly-Cookies: ein Access-Token (15 Minuten)\nund ein Refresh-Token (30 Tage). Sie sind für JavaScript nicht lesbar —\nein XSS-Fund erlaubt damit keinen Token-Diebstahl. Läuft der Access-Token\nab, erneuert `POST /api/auth/refresh` das Paar; die Rotation erkennt die\nWiederverwendung eines verbrauchten Tokens und verwirft dann die ganze\nFamilie.\n\n## Berechtigungen\n\nAutorisiert wird über flache `resource:action`-Berechtigungen, die pro Rolle\n(ADMIN, MANAGER, EMPLOYEE, CUSTOMER) statisch aufgelöst werden. Zusätzlich\ngilt immer Eigentümerschaft: `booking:read_own` liest ausschliesslich die\neigenen Buchungen, und die Einschränkung greift in der Datenbankabfrage,\nnicht in der Darstellung.\n\n## Rate-Limits\n\nFeste Zeitfenster auf Redis, mit Rückfall auf einen prozesslokalen Speicher.\nDer Schlüssel ist die Benutzer-ID bei angemeldeten und die IP-Adresse bei\nöffentlichen Endpunkten. Bei Überschreitung antwortet die API mit 429 und\neinem `Retry-After`-Header.\n\n## Geld und Zeit\n\nBeträge sind Dezimalzahlen in Schweizer Franken mit zwei Nachkommastellen;\nsie werden ausschliesslich serverseitig berechnet. Zeitstempel sind\nISO-8601 in UTC; die Anzeige erfolgt in Europe/Zurich.",
    "contact": {
      "name": "Clenaris",
      "url": "https://clenaris.ch"
    },
    "license": {
      "name": "Proprietär",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://clenaris.ch",
      "description": "Produktion"
    },
    {
      "url": "http://localhost:3000",
      "description": "Lokale Entwicklung"
    }
  ],
  "tags": [
    {
      "name": "Authentifizierung",
      "description": "Anmeldung, Sitzungen, Passwörter, Profil"
    },
    {
      "name": "Öffentlich",
      "description": "Endpunkte der Website — ohne Anmeldung erreichbar"
    },
    {
      "name": "CRM",
      "description": "Anfragen, Kundschaft, Verlauf, Aufgaben"
    },
    {
      "name": "Nachrichten",
      "description": "Nachrichtenverläufe und Benachrichtigungen"
    },
    {
      "name": "Buchungen",
      "description": "Termine bestätigen, verschieben, absagen"
    },
    {
      "name": "Offerten",
      "description": "Erstellen, versenden, annehmen, überführen"
    },
    {
      "name": "Einsätze",
      "description": "Disposition, Durchführung, Zeiterfassung"
    },
    {
      "name": "Personal",
      "description": "Mitarbeitende, Abwesenheiten, Bewerbungen"
    },
    {
      "name": "Finanzen",
      "description": "Rechnungen, Zahlungen, Gutschriften, Ausgaben"
    },
    {
      "name": "Exporte",
      "description": "Buchhaltung und Auswertungen als CSV bzw. Excel"
    },
    {
      "name": "Inhalte",
      "description": "Blog und Bewertungen"
    },
    {
      "name": "Künstliche Intelligenz",
      "description": "Entwürfe und Vorschläge — nie Ausführung"
    },
    {
      "name": "Dateien",
      "description": "Signierte Uploads zu Supabase Storage"
    },
    {
      "name": "System",
      "description": "Scheduler und Webhooks"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Anmelden",
        "description": "Prüft E-Mail und Passwort und setzt Access- und Refresh-Token als httpOnly-Cookies. Die Antwort enthält keine Token — sie stehen ausschliesslich in den Cookies, damit JavaScript im Browser sie nicht auslesen kann.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `login`",
        "operationId": "postAuthLogin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Kundenkonto eröffnen",
        "description": "Legt Benutzerkonto und Kundendatensatz an und meldet direkt an. Die Rolle ist immer CUSTOMER; Mitarbeitendenkonten entstehen ausschliesslich über eine Einladung.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `register`",
        "operationId": "postAuthRegister",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 128,
                    "pattern": "[0-9]"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "DE",
                      "EN",
                      "FR",
                      "IT"
                    ],
                    "default": "DE"
                  },
                  "acceptTerms": {
                    "const": true
                  },
                  "marketingOptIn": {
                    "type": "boolean",
                    "default": false
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 0
                      },
                      {
                        "const": ""
                      }
                    ]
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password",
                  "confirmPassword",
                  "acceptTerms",
                  "website"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Abmelden",
        "description": "Widerruft den Refresh-Token in der Datenbank und löscht beide Cookies. Ein blosses Löschen im Browser würde einen gestohlenen Token weiterleben lassen.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.",
        "operationId": "postAuthLogout",
        "security": [],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Sitzung erneuern",
        "description": "Tauscht den Refresh-Token gegen ein neues Paar. Rotation mit Wiederverwendungs-erkennung: Wird ein bereits verbrauchter Token erneut vorgelegt, gilt die ganze Token-Familie als kompromittiert und wird verworfen.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.",
        "operationId": "postAuthRefresh",
        "security": [],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/session": {
      "get": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Sitzungsstatus",
        "description": "Beantwortet „bin ich angemeldet, und wohin gehöre ich?\". Existiert, damit die öffentliche Website die Sitzung nicht im Layout lesen muss — ein Cookie-Zugriff dort würde jede Marketingseite dynamisch machen und jeden Besuch zu einer Datenbankabfrage. Die Antwort ist absichtlich mager und wird nicht zwischengespeichert.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.",
        "operationId": "getAuthSession",
        "security": [],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password": {
      "post": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Passwort zurücksetzen oder Einladung annehmen",
        "description": "Ein Endpunkt für drei Vorgänge, unterschieden über `action`. `forgot` und `reset` antworten immer erfolgreich — die Antwort darf nicht verraten, ob eine Adresse registriert ist.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `passwordReset`",
        "operationId": "postAuthPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "forgot",
                      "reset",
                      "invite"
                    ]
                  },
                  "email": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  }
                },
                "required": [
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Passwort ändern",
        "description": "Ändert das eigene Passwort. Verlangt das bisherige und widerruft anschliessend alle übrigen Sitzungen — wer sein Passwort ändert, will fremde Geräte ausgesperrt wissen.\n\n**Zugriff:** Erfordert eine angemeldete Sitzung.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "patchAuthPassword",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "minLength": 1
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 128,
                    "pattern": "[0-9]"
                  },
                  "confirmPassword": {
                    "type": "string"
                  }
                },
                "required": [
                  "currentPassword",
                  "password",
                  "confirmPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/profile": {
      "patch": {
        "tags": [
          "Authentifizierung"
        ],
        "summary": "Eigene Stammdaten ändern",
        "description": "Name, Telefon, Sprache, Erscheinungsbild und Benachrichtigungseinstellungen. Die E-Mail-Adresse ist bewusst nicht dabei: ein Wechsel muss über einen Bestätigungslink an die neue Adresse laufen.\n\n**Zugriff:** Erfordert eine angemeldete Sitzung.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "patchAccountProfile",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "DE",
                      "EN",
                      "FR",
                      "IT"
                    ],
                    "default": "DE"
                  },
                  "avatarUrl": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "theme": {
                    "type": "string",
                    "enum": [
                      "system",
                      "light",
                      "dark"
                    ]
                  },
                  "notifyByEmail": {
                    "type": "boolean"
                  },
                  "notifyBySms": {
                    "type": "boolean"
                  },
                  "marketingOptIn": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "avatarUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/pricing/estimate": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Preis berechnen",
        "description": "Sofortpreis ohne Anmeldung. Die Berechnung läuft vollständig auf dem Server; die Antwort enthält die vollständige Herleitung, damit die Website jeden Posten benennen kann.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `priceEstimate`",
        "operationId": "postPublicPricingEstimate",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "squareMeters": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 5000
                  },
                  "rooms": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 40
                  },
                  "bathrooms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20
                  },
                  "windows": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 500
                  },
                  "propertyKind": {
                    "type": "string",
                    "enum": [
                      "APARTMENT",
                      "HOUSE",
                      "OFFICE",
                      "COMMERCIAL",
                      "INDUSTRIAL",
                      "CONSTRUCTION_SITE",
                      "PRACTICE",
                      "RESTAURANT",
                      "SCHOOL",
                      "OTHER"
                    ],
                    "default": "APARTMENT"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "ONCE",
                      "WEEKLY",
                      "BIWEEKLY",
                      "MONTHLY",
                      "QUARTERLY",
                      "SEMIANNUAL",
                      "ANNUAL",
                      "CUSTOM"
                    ],
                    "default": "ONCE"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "extraId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 50,
                          "default": 1
                        }
                      },
                      "required": [
                        "extraId"
                      ]
                    },
                    "maxItems": 20,
                    "default": []
                  },
                  "scheduledStart": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      }
                    ]
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{3}$"
                  },
                  "hasPets": {
                    "type": "boolean",
                    "default": false
                  },
                  "manualHours": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 80
                  },
                  "couponCode": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "urgent": {
                    "type": "boolean",
                    "default": false
                  },
                  "serviceId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "serviceSlug": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/availability": {
      "get": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Freie Zeitfenster eines Tages",
        "description": "Berücksichtigt Öffnungszeiten, Feiertage, bestehende Einsätze, Abwesenheiten und die benötigte Teamgrösse. Ein Fenster erscheint nur, wenn genügend Personal frei ist.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiRead`",
        "operationId": "getPublicAvailability",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "durationMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 30,
              "maximum": 1440
            }
          },
          {
            "name": "crewSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "name": "squareMeters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/service-areas/check": {
      "get": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Postleitzahl im Einsatzgebiet?",
        "description": "Antwortet mit Ort, Anfahrtspauschale und Fahrzeit — oder mit der Auskunft, dass wir dort (noch) nicht arbeiten.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiRead`",
        "operationId": "getPublicServiceAreasCheck",
        "security": [],
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9]\\d{3}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/bookings": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Termin buchen",
        "description": "Erstellt Buchung, Einsatz und — falls nötig — Kundendatensatz in einer Transaktion. Der Preis wird serverseitig neu berechnet; ein mitgeschickter Betrag wird ignoriert.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `bookingCreate`",
        "operationId": "postPublicBookings",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "extraId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 50,
                          "default": 1
                        }
                      },
                      "required": [
                        "extraId"
                      ]
                    },
                    "maxItems": 20,
                    "default": []
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "ONCE",
                      "WEEKLY",
                      "BIWEEKLY",
                      "MONTHLY",
                      "QUARTERLY",
                      "SEMIANNUAL",
                      "ANNUAL",
                      "CUSTOM"
                    ],
                    "default": "ONCE"
                  },
                  "scheduledStart": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      }
                    ]
                  },
                  "manualHours": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 80
                  },
                  "urgent": {
                    "type": "boolean",
                    "default": false
                  },
                  "propertyKind": {
                    "type": "string",
                    "enum": [
                      "APARTMENT",
                      "HOUSE",
                      "OFFICE",
                      "COMMERCIAL",
                      "INDUSTRIAL",
                      "CONSTRUCTION_SITE",
                      "PRACTICE",
                      "RESTAURANT",
                      "SCHOOL",
                      "OTHER"
                    ],
                    "default": "APARTMENT"
                  },
                  "squareMeters": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 5000
                  },
                  "rooms": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 40
                  },
                  "bathrooms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20
                  },
                  "windows": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 500
                  },
                  "hasPets": {
                    "type": "boolean",
                    "default": false
                  },
                  "propertyId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                  },
                  "companyName": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "addressId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "maxLength": 60
                      },
                      "street": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 120
                      },
                      "streetNo": {
                        "type": "string",
                        "maxLength": 20
                      },
                      "addition": {
                        "type": "string",
                        "maxLength": 120
                      },
                      "postalCode": {
                        "type": "string",
                        "pattern": "^[1-9]\\d{3}$"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 80
                      },
                      "canton": {
                        "type": "string",
                        "default": "BE"
                      },
                      "country": {
                        "type": "string",
                        "default": "CH"
                      },
                      "lat": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90
                      },
                      "lng": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180
                      },
                      "placeId": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "accessNote": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "required": [
                      "street",
                      "postalCode",
                      "city"
                    ]
                  },
                  "customerNote": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "accessNote": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "couponCode": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "fileIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 10,
                    "default": []
                  },
                  "recurrence": {
                    "type": "object",
                    "properties": {
                      "interval": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12,
                        "default": 1
                      },
                      "weekdays": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 6
                        },
                        "maxItems": 7,
                        "default": []
                      },
                      "endDate": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date-time"
                          },
                          {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                          }
                        ]
                      },
                      "count": {
                        "type": "integer",
                        "minimum": 2,
                        "maximum": 104
                      }
                    }
                  },
                  "acceptTerms": {
                    "const": true
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 0
                      },
                      {
                        "const": ""
                      }
                    ]
                  }
                },
                "required": [
                  "serviceId",
                  "scheduledStart",
                  "acceptTerms",
                  "website"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/contact": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Kontakt- oder Offertanfrage",
        "description": "Legt einen Lead an und benachrichtigt das Büro. Statt eines CAPTCHAs schützen ein Honeypot-Feld und ein striktes Rate-Limit — beides ohne Hürde für die Anfragenden.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `contactForm`",
        "operationId": "postPublicContact",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "company": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{3}$"
                  },
                  "city": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "serviceKind": {
                    "type": "string",
                    "enum": [
                      "OFFICE_CLEANING",
                      "MOVE_OUT_CLEANING",
                      "RESIDENTIAL_CLEANING",
                      "WINDOW_CLEANING",
                      "CONSTRUCTION_CLEANING",
                      "BUILDING_MAINTENANCE",
                      "SPECIAL"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 4000
                  },
                  "acceptPrivacy": {
                    "const": true
                  },
                  "utmSource": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "utmMedium": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "utmCampaign": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "referrerUrl": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "landingPath": {
                    "type": "string",
                    "maxLength": 300
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 0
                      },
                      {
                        "const": ""
                      }
                    ]
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "message",
                  "acceptPrivacy",
                  "website"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/newsletter": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Newsletter abonnieren",
        "description": "Double-Opt-in: die Anmeldung gilt erst mit Bestätigung des Links in der E-Mail. Die Einwilligung wird mit Zeitpunkt und IP protokolliert (DSGVO Art. 7 Abs. 1).\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `newsletter`",
        "operationId": "postPublicNewsletter",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "firstName": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "DE",
                      "EN",
                      "FR",
                      "IT"
                    ],
                    "default": "DE"
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 0
                      },
                      {
                        "const": ""
                      }
                    ]
                  }
                },
                "required": [
                  "email",
                  "website"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/applications": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Auf eine Stelle bewerben",
        "description": "Der Lebenslauf wird vorab direkt zu Supabase Storage geladen; hier kommt nur seine Adresse an.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `contactForm`",
        "operationId": "postPublicApplications",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postingId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "cvFileId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "availableFrom": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "acceptPrivacy": {
                    "const": true
                  },
                  "website": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 0
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "cvUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "postingId",
                  "firstName",
                  "lastName",
                  "email",
                  "phone",
                  "acceptPrivacy",
                  "website"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/ai/chat": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Chat-Assistent",
        "description": "Beantwortet Fragen zu Leistungen, Preisen und Gebiet. Die Antwort wird als Server-Sent-Events gestreamt. Der Assistent nennt nur Preise aus dem Katalog und bucht nichts — gebucht wird über das Formular.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `aiChat`",
        "operationId": "postPublicAiChat",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 4000
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    },
                    "maxItems": 8,
                    "default": []
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datei",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/quotes/{token}/pdf": {
      "get": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Offerte als PDF",
        "description": "Zugriff über den Magic-Link-Token aus der Offerten-E-Mail, ohne Anmeldung.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiRead`",
        "operationId": "getPublicQuotesByTokenPdf",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF-Dokument",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/quotes/{token}/respond": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Offerte annehmen oder ablehnen",
        "description": "Bei Annahme werden Unterschrift, Name, IP und Zeitpunkt festgehalten — das ist der Nachweis des Vertragsschlusses.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "postPublicQuotesByTokenRespond",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 10
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "ACCEPT",
                      "REJECT"
                    ]
                  },
                  "signatureDataUrl": {
                    "type": "string",
                    "maxLength": 500000,
                    "pattern": "^data:image\\/(png|jpeg);base64,"
                  },
                  "signatureName": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "decision"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/invoices/{token}/pdf": {
      "get": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Rechnung als PDF",
        "description": "Enthält den Schweizer QR-Einzahlungsschein nach SIX-Norm v2.3.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiRead`",
        "operationId": "getPublicInvoicesByTokenPdf",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF-Dokument",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/invoices/{token}/pay": {
      "post": {
        "tags": [
          "Öffentlich"
        ],
        "summary": "Online-Zahlung starten",
        "description": "Erstellt eine Stripe-Checkout-Session für Karte oder TWINT und liefert die Adresse zur Weiterleitung. Der Betrag stammt aus der Datenbank, nie vom Client. Gebucht wird der Eingang über den Webhook, nicht über die Rückkehr-URL.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "postPublicInvoicesByTokenPay",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 10
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "CARD",
                      "TWINT"
                    ],
                    "default": "CARD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — nicht vorhanden, oder für diese Sitzung nicht sichtbar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/upload-url": {
      "post": {
        "tags": [
          "Dateien"
        ],
        "summary": "Signierte Upload-Adresse anfordern",
        "description": "Dateien laufen nicht durch die Applikation, sondern direkt zu Supabase Storage. Das umgeht das 4.5-MB-Limit für Function-Bodies. Ohne Anmeldung sind nur die Profile `bookingPhoto` und `cv` erlaubt.\n\n**Zugriff:** Öffentlich — keine Anmeldung nötig.\n\n**Rate-Limit-Klasse:** `fileUpload`",
        "operationId": "postFilesUploadUrl",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile": {
                    "type": "string",
                    "enum": [
                      "jobPhoto",
                      "bookingPhoto",
                      "avatar",
                      "document",
                      "receipt",
                      "cv",
                      "gallery",
                      "invoice",
                      "quote"
                    ]
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "mimeType": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 52428800
                  },
                  "scopeId": {
                    "type": "string",
                    "maxLength": 60
                  }
                },
                "required": [
                  "profile",
                  "filename",
                  "mimeType",
                  "sizeBytes"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/leads": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "Anfragen auflisten",
        "description": "Sortiert nach Bewertung und Eingang, mit Filter nach Status und Zuständigkeit.\n\n**Zugriff:** Erfordert die Berechtigung: `lead:read`.\n\n**Rate-Limit-Klasse:** `apiRead`",
        "operationId": "getLeads",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "CONTACTED",
                "QUALIFIED",
                "PROPOSAL",
                "WON",
                "LOST"
              ]
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — angemeldet, aber ohne die nötige Berechtigung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Anfrage erfassen",
        "description": "Für Anrufe und Laufkundschaft. Anfragen über die Website laufen über `/api/public/contact` und durchlaufen dort Honeypot und strengeres Rate-Limiting.\n\n**Zugriff:** Erfordert die Berechtigung: `lead:write`.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "postLeads",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "company": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "street": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{3}$"
                  },
                  "city": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "serviceKind": {
                    "type": "string",
                    "enum": [
                      "OFFICE_CLEANING",
                      "MOVE_OUT_CLEANING",
                      "RESIDENTIAL_CLEANING",
                      "WINDOW_CLEANING",
                      "CONSTRUCTION_CLEANING",
                      "BUILDING_MAINTENANCE",
                      "SPECIAL"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "estimatedValue": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "WEBSITE",
                      "PHONE",
                      "EMAIL",
                      "REFERRAL",
                      "GOOGLE_ADS",
                      "META_ADS",
                      "SEO",
                      "WALK_IN",
                      "PARTNER",
                      "OTHER"
                    ],
                    "default": "WEBSITE"
                  },
                  "stageId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ownerId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "nextFollowUpAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 20,
                    "default": []
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Erfolg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR — die Eingabe ist ungültig. `error.details` nennt Feld und Grund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — keine oder abgelaufene Sitzung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — angemeldet, aber ohne die nötige Berechtigung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT — verstösst gegen eine Eindeutigkeitsregel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "BUSINESS_RULE — fachlich nicht zulässig, etwa eine bereits ausgestellte Rechnung ändern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED — zu viele Anfragen. `Retry-After` nennt die Wartezeit in Sekunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR — unerwarteter Fehler. Die Meldung nennt keine internen Details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/leads/{id}": {
      "patch": {
        "tags": [
          "CRM"
        ],
        "summary": "Anfrage ändern",
        "description": "Status, Zuständigkeit, Pipeline-Stufe, Bewertung, Nachfassdatum, Etiketten.\n\n**Zugriff:** Erfordert die Berechtigung: `lead:write`.\n\n**Rate-Limit-Klasse:** `apiWrite`",
        "operationId": "patchLeadsById",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email"
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^(\\+|00)?[0-9\\s().-]{9,20}$"
                      },
                      {
                        "const": ""
                      }
                    ]
                  },
                  "company": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "street": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{3}$"
                  },
                  "city": {
                    "type": "string",
                    "maxLength": 80
                  },
                  "serviceKind": {
                    "type": "string",
                    "enum": [
                      "OFFICE_CLEANING",
                      "MOVE_OUT_CLEANING",
                      "RESIDENTIAL_CLEANING",
                      "WINDOW_CLEANING",
                      "CONSTRUCTION_CLEANING",
                      "BUILDING_MAINTENANCE",
                      "SPECIAL"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "estimatedValue": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "WEBSITE",
                      "PHONE",
                      "EMAIL",
                      "REFERRAL",
                      "GOOGLE_ADS",
                      "META_ADS",
                      "SEO",
                      "WALK_IN",
                      "PARTNER",
[...]
